@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&family=sans-serif:wght@200;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1E2E3E;
    font-family: Mulish,sans-serif;
    overflow-x: hidden;
    
    }

.header{
    display: flex;
    justify-content: space-between;
    padding: 20px ;
    background:  #1E2E3E;
    box-shadow: 0 5px 15px rgba(0,0,0.06);
    
}

.navbar{
    display: flex;
   position: absolute;
   margin-left: 400px;
 
}

.navbar li{
    list-style: none;
    text-transform: uppercase;
    margin: 15px;
    font-size: 16px;
    font-weight: 300;
    padding: 0px;
    position: relative;
   
}

.navbar li a{
    text-decoration: none;
    color: aliceblue;
    position: relative;
    font-size: 16px;
    
    
}
.navbar li a:hover{
    color: #CDB091;
}
.cart{
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    position: absolute;
    left: 1300px;
    top: 50px;
    
}

/* .dropbtn {    
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background: none;
    color: #fff;
    text-transform: uppercase;
  }
  
  
.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}
.show {
    display: block;
} */

.hero span{
    color: #CDB091;

}


.hero{
    color: #fff;
    margin: 80px;
    margin-top: 60px;
    padding:50px;
    flex-wrap: wrap;
    position: relative;

}

.hero img{
    height: 90vh;
    margin-left:800px;
    margin-top: -500px;
        
}

.hero h2{
    font-size: 70px;
    font-weight: 400;
    line-height: 90px;
    margin: 10px 0 15px;
    color: #fff;
}
.hero p{
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    margin-top: 30px;
}
.para span{
    color: #CDB091;
    font-weight: 400;
    font-size: 100px;
    line-height: 105px;
}
.para h3{
    position: absolute;
    margin-left: 680px;
    font-size: 22px;
    margin-bottom: 0;
    line-height: 32px;
    top: 270px;
    
}

.para{
    display: flex;
    justify-content: space-between;
}

.para h2{
    position: absolute;
    left: 50%;
}

.btn-57,
.btn-57 *,
.btn-57 :after,
.btn-57 :before,
.btn-57:after,
.btn-57:before {
  border: 0 solid;
  top: 50px;

}
.btn-57 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000,  #cdb091);
  padding: 0;
}
.btn-57:disabled {
  cursor: default;
}
.btn-57:-moz-focusring {
  outline: auto;
}
.btn-57 svg {
  display: block;
  vertical-align: middle;
}
.btn-57 [hidden] {
  display: none;
}
.btn-57 {
  background: none;
  border: 3px solid;
  border-radius: 999px;
  box-sizing: border-box;
  color: #000;
  display: block;
  font-weight: 900;
  -webkit-mask-image: none;
  padding: 20px 60px;
  position: relative;
  text-transform: uppercase;
}
.btn-57:before {
    background: #cdb091;
  border-radius: 999px;
  content: "";
  inset: 0;
  position: absolute;
  transform: translate(10px, 10px);
  transition: transform 0.2s;
  z-index: -1;
}
.btn-57:hover:before {
  transform: translate(0);
}

.about span{
    color: #CDB091;
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 20px;

}

.about h6{
    font-weight: 400;
    font-size: 40px;
    line-height: 55px;
    position: relative;
    text-transform: capitalize;
    font-family: "DM Serif Text",serif;
    margin: 0;
    margin-left: 450px;
    color: #fff;
}


/* u{
    color: #CDB091;
} */









.judge {
    display: flex;
    overflow: hidden;
    width: 300px;
    
}

.one-side {
    display: flex;
    animation: slide 5s linear infinite;
   
}











.second-section{
    margin-top: 150px;
}
.second-section h1{
    font-size: 30px;
    padding: 20px 30px;
    line-height: 45px;
    color: #fff;
    margin: 20px 80px;
    font-style: bold;
    font-weight: 800;
}

.second-section p{
    padding: 20px 30px;
    font-size: 20px;
    color: #fff;
    margin: 20px 80px;
    line-height: 40px;
    
}
.border img{
    height: 150px;
    background-color: none;
}
.second-section img{
    position: absolute;
    height: 100vh;
    margin-left:750px;
    margin-top: -650px;
    padding: 40px;
    border: 1px solid #CDB091;
}

.second-pic{
    height: 100px;
    background-color: #1E2E3E;
}
.second-pic img{
    position: absolute;
    height: 60vh;
    margin-left:550px;
    margin-top: -500px;
    padding: 40px;
    border: 1px solid #CDB091;
    background-color: #1E2E3E;
}

.third-section{
    line-height: -100px;
}

.third-section .vertical-line {
    position: absolute;
    width: 2px;
    height: 15%;
    background-color: #CDB091; 
      left: 8%;
    top: 1840px;
    transform: translateX(-50%);
  }
  
 .about .vertical-line {
    position: absolute;
    width: 7%; 
    height: 0.2%;
    background-color: #CDB091; 
    left: 50%; 
    top: 905px;
    transform: translateX(-50%); 
  }
.third-section span{
    font-weight: 400;
    font-size: 20px;
    color: #cdb091;
    margin:150px;
}

.third-section h2{
    font-weight: 400;
    font-size: 40px;
    line-height: 55px;
    position: relative;
    margin-left: 150px;
    color: #fff;
   
}
.slider{
    display: flex;
    justify-content: space-between;
}


.slider i {
    font-size: 44px; 
    color: #cdb091;
    cursor: pointer; 
    transition: color 0.3s;
    width: 50px;
    padding: 7px 13px;
    background: #24384b;
    font-size: 30px;
    
  }
  .slider i:hover{
    color: #fde2c6;
  }
 
  .slider-1{
    position: absolute;
    margin-left: 1150px;
    display: flex;
    gap: 20px;
  }

  .slider-container {
    display: flex;
    flex-direction: row;
    color: #fff;
    position: absolute;
    margin-top: 80px;  
  }

  .judgeharu {
    position: absolute;
    display: flex;
    height: 70vh;
    width: 80%;
    background-color: #192836;
    margin-top: 800px;
    margin-left: 100px;
  }
  

.judge{
    padding: 30px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
    width: 300px;
    
   
}



.carousel-container {
    display: flex;
    /* animation: slide 10s linear infinite; */
    animation: slide 20s linear;
}

.carousel-item {
    min-width: 300px;
    padding: 20px;
    margin-right: 10px;
    text-align: center;
    border: none;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}


.carousel-item h2,h3{
    margin-left: 70px;
    line-height: 40px;
    
}
.carousel-item h1{
    margin-top: 0;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
   
}
.carousel-item img{
    border: solid #cdb091;
    border-radius: 50px;
    margin: 40px 150px;
    transition: all 0.15s ease;

}


.another-side img{
    position: relative;
    margin-left:250px ;
    height: 70vh;
}

.fourth-section button{
    position: absolute;
    margin-top: 240%;
    margin-left: 70%;
    font-size: 12px;
}

.fourth-section {
    color: #fff;
    padding: 60px 0;
    text-align: center;
    margin-top: 1600px;
}
.four-img{
    margin-top: -300px;
    margin-left: -700px;
    
}

.four-img h2 {
    font-size: 20px;
    font-weight: 400;
    line-height: 55px;
    
    margin-left: -190px;
    color: #CDB091;
}

.four-img h1 {
    line-height: 30px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 40px;
    position: relative;
    text-transform: capitalize;
    font-family: "DM Serif Text",serif;
    color: #fff;
    margin-left: 20px;
    
}

.flexing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
    margin-top: 30px;
    flex-wrap: wrap;
    
}




.image-card {
    flex: 1;
    max-width: 300px;
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s;
    height: 60vh;
    vertical-align: middle;
    
}

.image-card img {
    width: 100%;
    border-radius: 10px;
}

.image-card h3 {
    font-size: 20px;
    margin-top: 10px;
    color: #CDB091;
}


.image-card {
    position: relative;
    overflow: hidden;
    margin: 20px;
  }
  
  .image-card img {
    max-width: 100%;
    height: auto;

}
  

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s;

  }
  
  .image-card:hover .card-overlay {
    opacity: 1;


}
  

.card-button {
    background-color: #ae9a84; 
    color: #fff; 
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
    
}
  
  .card-button:hover {
    background-color: #CDB091;
  }
  



.fourth-section .vertical-line {
    position: absolute;
    width: 2px; 
    height: 15%;
    background-color: #CDB091;
    left: 8%; 
    top: 3290px;
    transform: translateX(-50%); 
  
}

.fifth-section{
    display: flex;
    margin: 20px 100px;
}

.counter-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 50px 50px;
    color:#fff;
}

.counter-container span{
    position: relative;
    margin-top: 90px 50px;
    font-size: 18px;
}

.counter{
    font-size: 45px;
    margin: 10px ;
    color: #fff;
    font-family: "DM Serif Text",serif;    
}
.lines{
    position: relative;
    margin: 30px 130px;
    line-height: 2px;
}

.sixth-section{
    display: flex;
    position: absolute;
    margin-top: -100px;
    
}

.sixth-section .vertical-line{
    position: relative;
    width: 2px;
    height: 8%;
    background-color: #CDB091; 
    left: -9%;
    top: 130px;
    transform: translateX(-50%);

} 


/* .arrowss{
    position: absolute;
    margin-top: 200px;
    margin-left:80%;
    color: #CDB091;
    height: 45px;
    padding: 15px 17px;
    width:70px ;
    background-color: #192836;
    cursor: pointer;
    gap: 30px;
    
}

.arrowss:hover{
    color: #e8d6c2;
} */

.line{
    position: relative;
    margin-top: -550px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
}
.line h1{
    font-weight: 400;
    font-size: 25px;
    position: relative;
    text-transform: capitalize;
    font-family: "DM Serif Text",serif;
    color: #fff;
    margin-left: 20px;
    top: 650px;
}
.line h2{
    font-size: 16px;
    font-weight: 400;
    line-height: 55px;
    position: absolute;
    margin-top:600px;
    margin-left: 18px; 
    color: #CDB091;
}



/* Swiper styles */
.swiper-container {
    position: relative;
    margin-top: 200px; 
   
     max-width: 800px;
    overflow: hidden;
  }
  
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* margin-top: 200px;  */
  }
  
  
  .swiper-slide:hover .overlay {
    opacity: 1;
    /* linear-gradient */
  }
  
  .overlay {
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    position: relative;
    margin-left:-500px;
    margin-top: -150px;
    margin-bottom: 300px;

  }
  
  .overlay h3 {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .overlay .social-icons {
    margin-top: 10px;
  }
  
  .overlay .social-icons a {
    color: #CDB091;
    margin: 0 5px;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
  }
  
  .overlay .social-icons a:hover {
    color: #fde2c6;
  }
  



.seventh-section{
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin-top: 700px;
    margin-left: 50px;
    height: 100%;
    width: 80%;
    background-color: #112a43;
    padding: 50px 70px;
}

.contact-info{
    font-weight: 400;
    /* font-size: 40px; */
    line-height: 35px;
    color: #fff;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 20px;
}



.contact-us{
    display: flex;
    flex-direction: column;
    background-color: #CDB091;
    width: 100%;
    height: 100%;
    margin: 0 200px;
    padding: 0 ;
}
.contact{
    margin: 0 100px;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
   line-height: 50px;
}
input[type="text"]{
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    outline: none;
}















  